extends layout

block content

  .banner.faq
    h1 FAQ
    
  main.container
    for qa in qas
      .qa-template
        .question
          h4 Question:
          span.question-content #{qa.question}
        .answer.animated.slideInDown
          h4 Answer:
          span.answer-content #{qa.answer}
