extends layout

block content
  
  .banner.main
  
  main.container
    .row.center
      h3 Hi, I'm Samantha.
    .row.center
      .circle
      .circle
      .circle
    .row.baseline
      .four.columns
        .sam-pic
          img(src="/images/sam.jpeg")
      .eight.columns
        p  Cupcake ipsum dolor sit amet. Croissant tart brownie chocolate cake gummies lemon drops liquorice bonbon tootsie roll. Candy canes cotton candy jelly-o tiramisu lemon drops. Cake cake chocolate bar liquorice bear claw croissant jelly sweet roll soufflé.
        p Chocolate pudding cookie topping liquorice oat cake gummi bears. Pastry tiramisu candy gingerbread donut sweet sweet sweet roll. Chocolate apple pie tootsie roll danish. Cake gummi bears cupcake tiramisu brownie caramels jelly beans sugar plum jujubes.
        p Jujubes chocolate pastry sweet gummi bears tiramisu danish. Soufflé topping oat cake muffin oat cake fruitcake. Pie jelly beans gummi bears caramels dessert donut cake pudding. Carrot cake cheesecake bonbon jelly sesame snaps cupcake.
  
