extends layout

block content
  
  .banner
  
  main.container
    .row
      center
        h3 Hi, I'm Samantha.
    .row.center
      .circle
      .circle
      .circle
    .row
      .four.columns
        .sam-pic
          img(src="/images/sam.jpeg")
      .eight.columns
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolorum, soluta architecto animi, perferendis totam voluptates est facere vitae! Odit expedita nobis eius. Iure nihil id enim quas, reiciendis doloremque.
    
