doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico')
  body
    nav
      a(href="/") About
      a(href="/services") Services
      span.title Samantha Luce
      a(href="/faq") FAQ
      a(href="/contact") Contact
    
    block content
    
    footer
