doctype html
html
  head
    title= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/javascripts/main.js")
    link(rel="stylesheet", href="/stylesheets/normalize.css")
    link(rel="stylesheet", href="/stylesheets/skeleton.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico")
  body
    nav
      a(href="/") About
      a(href="/services") Services
      span.title Samantha Luce
      a(href="/faq") FAQ
      a(href="/contact") Contact
    
    block content
    
    footer
      .copyright
        &copy; 2016 Samantha Luce | Built with 
        i.fa.fa-heart
        |  by Dize
