extends layout

block content

  .banner.services
    h1 Services
  
  main.container.center
    for service in services
        h5 #{service.name} 
          .circle
          .circle
          .circle 
          | #{service.duration}
        p #{service.price} - #{service.description}
