body {
  font-size: 12px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin: 0 200px;
}

nav span.title {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: teal;
}

nav a {
  text-decoration: none;
  color: #434343;
}

nav a:hover {
  color: teal;
}

.banner {
  height: 400px;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner.services {
  /*background-image: url('/images/spa.jpg');*/
  /*background-size: cover;*/
}

main.container {
  margin-top: 50px;
  /*margin: 50px 200px 0 200px;*/
}

.row.center {
  text-align: center;
  margin-bottom: 20px;
}

.sam-pic img{
  width: 100%;
  border-radius: 50%;
  border: 1px solid teal;
}

.circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: teal;
  border-radius: 50%;
  margin: 0 15px;
}

.baseline {
  display: flex;
  align-items: center;
}

.qa-selected {
  background-color: lightblue;
}

.qa-template h4 {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Pacifico', cursive;
  color: teal;
  size: 24px;
}

.qa-template .answer {
  display: none;
}


footer {
  margin-top: 50px;
  height: 75px;
  background-color: teal;
}
