extends ../layout

block content
  main.container
    h3 Edit FAQ
    form(method="post" action="admin/faqs/#{faq.id}/edit")
      .row
        label(for='question') Question
        input#question.u-full-width(type='text' name="question" value="#{faq.question}")
      .row
        label(for='answer') Answer
        input#answer.u-full-width(type="text" name="answer" value="#{faq.answer}")
      input(type='submit', value='Submit')
